.rs-about {
  margin-top: 230px;
  padding-top: 82px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1439.98px) {
  .rs-about {
    margin-top: 163.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about {
    margin-top: 96.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about {
    margin-top: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about {
    padding-top: 64.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about {
    padding-top: 47.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about {
    padding-top: 30px;
  }
}
@media (max-width: 1169.98px) and (min-width: 991.98px) {
  .rs-about {
    margin-top: 150px;
  }
}
@media (max-width: 991.98px) {
  .rs-about {
    padding-left: 24px;
  }
}
.rs-about.rs-about-inner {
  margin-top: 70px;
  padding-top: 70px;
}
@media (max-width: 1439.98px) {
  .rs-about.rs-about-inner {
    margin-top: 56.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about.rs-about-inner {
    margin-top: 43.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about.rs-about-inner {
    margin-top: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about.rs-about-inner {
    padding-top: 56.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about.rs-about-inner {
    padding-top: 43.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about.rs-about-inner {
    padding-top: 30px;
  }
}
.rs-about .video {
  position: relative;
}
.rs-about .video img,
.rs-about .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-about .video .video-block {
  padding: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-about .video .video-text {
  margin-left: 24px;
  max-width: 228px;
}
@media (max-width: 991.98px) {
  .rs-about .video .video-text {
    margin-left: 8px;
  }
}
.rs-about .video .video-text p {
  font-weight: 400;
  line-height: 120%;
  color: var(--primary-2-color);
}
.rs-about .video .video-play {
  width: 82px;
  height: 82px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--primary-2-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1439.98px) {
  .rs-about .video .video-play {
    width: 71.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about .video .video-play {
    width: 60.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about .video .video-play {
    width: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about .video .video-play {
    height: 71.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about .video .video-play {
    height: 60.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about .video .video-play {
    height: 50px;
  }
}
.rs-about .video .video-play svg {
  width: 23px;
  height: 28px;
  margin-right: -5px;
}
@media (max-width: 1439.98px) {
  .rs-about .video .video-play svg {
    width: 22px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about .video .video-play svg {
    width: 21px;
  }
}
@media (max-width: 991.98px) {
  .rs-about .video .video-play svg {
    width: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about .video .video-play svg {
    height: 25.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about .video .video-play svg {
    height: 22.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about .video .video-play svg {
    height: 20px;
  }
}
.rs-about .video .video-label {
  position: absolute;
  bottom: 45px;
  left: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1439.98px) {
  .rs-about .video .video-label {
    bottom: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about .video .video-label {
    bottom: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about .video .video-label {
    bottom: 10px;
  }
}
.rs-about .video .video-label::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H50' stroke='%23D9B369'/%3e%3ccircle cx='58' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 66px;
  height: 16px;
  margin-right: 8px;
}
.rs-about .video .video-label p {
  letter-spacing: 0px;
}
.rs-about__line {
  width: 100%;
  max-width: 42.448vw;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.rs-about__line-wrap::after {
  content: "";
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.rs-about-inner .rs-about__line {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  max-height: 100%;
  margin-right: 103px;
}
@media (max-width: 1439.98px) {
  .rs-about-inner .rs-about__line {
    margin-right: 68.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about-inner .rs-about__line {
    margin-right: 34.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-inner .rs-about__line {
    margin-right: 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-inner .rs-about__line {
    position: absolute;
    top: 0;
    left: 8px;
  }
}
.rs-about-inner .rs-about__line-wrap {
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.rs-about-inner .rs-about__line-wrap::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rs-about-inner .rs-about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 991.98px) {
  .rs-about__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  .rs-about-inner .rs-about__wrapper {
    grid-template-columns: repeat(11, 1fr);
  }
}
@media (min-width: 991.98px) {
  .rs-about__desc {
    grid-column: 1/6;
  }
  .rs-about-inner .rs-about__desc {
    margin-right: -5px;
  }
}
@media (min-width: 991.98px) and (max-width: 1600.98px) {
  .rs-about__desc {
    grid-column: 1/7;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc {
    margin-bottom: 30px;
  }
}
.rs-about__desc p {
  margin-top: 37px;
  font-size: 20px;
  color: #646464;
}
@media (max-width: 1439.98px) {
  .rs-about__desc p {
    font-size: 17.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about__desc p {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p {
    font-size: 13px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about__desc p {
    margin-top: 29.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about__desc p {
    margin-top: 22.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p {
    margin-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p br {
    display: none;
  }
}
.rs-about__img {
  position: relative;
  margin: 10px;
}
.rs-about-inner .rs-about__img {
  margin: 0px;
}
@media (min-width: 991.98px) {
  .rs-about__img {
    grid-column: 8/13;
  }
  .rs-about-inner .rs-about__img {
    grid-column: 8/12;
  }
}
.rs-about__img .video {
  padding-bottom: 66.2%;
}
.rs-about-inner .rs-about__img .video {
  padding-bottom: 138.8%;
}
.rs-about__img_block {
  position: relative;
}
.rs-about__img_block::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 1px solid var(--primary-2-color);
  pointer-events: none;
}
.rs-about-inner .rs-about__img_block::before {
  width: 100%;
  height: 100%;
  top: -25px;
  right: -25px;
  bottom: auto;
  left: auto;
}
@media (max-width: 1439.98px) {
  .rs-about-inner .rs-about__img_block::before {
    top: -20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about-inner .rs-about__img_block::before {
    top: -15px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-inner .rs-about__img_block::before {
    top: -10px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about-inner .rs-about__img_block::before {
    right: -20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about-inner .rs-about__img_block::before {
    right: -15px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-inner .rs-about__img_block::before {
    right: -10px;
  }
}
.rs-about__footer {
  margin-top: 40px;
}
@media (max-width: 1439.98px) {
  .rs-about__footer {
    margin-top: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about__footer {
    margin-top: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__footer {
    margin-top: 20px;
  }
}