.rs-about {
  margin-top: 230px;
  padding-top: 82px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1439.98px) {
  .rs-about {
    margin-top: 163.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about {
    margin-top: 96.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-about {
    margin-top: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about {
    padding-top: 64.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about {
    padding-top: 47.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about {
    padding-top: 30px;
  }
}
@media (max-width: 1169.98px) and (min-width: 991.98px) {
  .rs-about {
    margin-top: 150px;
  }
}
.rs-about__line {
  width: 100%;
  max-width: 42.448vw;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.rs-about__line-wrap::after {
  content: "";
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 991.98px) {
  .rs-about__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-about__desc {
    grid-column: 1/6;
  }
}
@media (min-width: 991.98px) and (max-width: 1600.98px) {
  .rs-about__desc {
    grid-column: 1/7;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc {
    margin-bottom: 30px;
  }
}
.rs-about__desc p {
  margin-top: 37px;
  font-size: 20px;
  color: #646464;
}
@media (max-width: 1439.98px) {
  .rs-about__desc p {
    font-size: 17.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about__desc p {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p {
    font-size: 13px;
  }
}
@media (max-width: 1439.98px) {
  .rs-about__desc p {
    margin-top: 29.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-about__desc p {
    margin-top: 22.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p {
    margin-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-about__desc p br {
    display: none;
  }
}
.rs-about__img {
  position: relative;
  margin: 10px;
}
@media (min-width: 991.98px) {
  .rs-about__img {
    grid-column: 8/13;
  }
}
.rs-about__img .video {
  padding-bottom: 66.2%;
}
.rs-about__img::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 1px solid #d9b369;
  pointer-events: none;
}