.rs-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a4231), to(#002413));
  background: linear-gradient(180deg, #0a4231 0%, #002413 100%);
  color: #fff;
}
.rs-footer__request {
  padding: 53px 0px;
  background-color: #d9b369;
}
@media (max-width: 1439.98px) {
  .rs-footer__request {
    padding-top: 42px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__request {
    padding-top: 31px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__request {
    padding-top: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__request {
    padding-bottom: 42px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__request {
    padding-bottom: 31px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__request {
    padding-bottom: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__request .rs-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
.rs-footer__request .rs-input {
  border-color: #fff;
}
@media (min-width: 991.98px) {
  .rs-footer__request .form__button {
    min-width: 230px;
  }
}
.rs-footer__request .form__agreement {
  color: #fff;
  max-width: 100%;
}
@media (min-width: 991.98px) {
  .rs-footer__title {
    grid-column: 1/2;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__form {
    grid-column: 2/5;
  }
}
.rs-footer__head {
  padding: 50px 0px;
}
@media (max-width: 1439.98px) {
  .rs-footer__head {
    padding-top: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__head {
    padding-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__head {
    padding-top: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__head {
    padding-bottom: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__head {
    padding-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__head {
    padding-bottom: 20px;
  }
}
@media (min-width: 767.98px) {
  .rs-footer__head .rs-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-footer__head .rs-btn {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 767.98px) {
  .rs-footer__head .rs-btn {
    width: 100%;
    margin-top: 20px;
  }
}
.rs-footer__logo a {
  display: block;
  width: 100%;
  max-width: 360px;
}
@media (max-width: 1439.98px) {
  .rs-footer__logo a {
    max-width: 306.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__logo a {
    max-width: 253.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__logo a {
    max-width: 200px;
  }
}
.rs-footer__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-footer__menu {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 991.98px) {
  .rs-footer__menu {
    padding: 20px 0px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-footer__menu .menu__list li {
  position: relative;
}
.rs-footer__menu .menu__list li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__menu .menu__list li:hover > a {
    color: var(--primary-color);
  }
}
.rs-footer__menu .menu__list > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ececec;
}
@media (max-width: 1439.98px) {
  .rs-footer__menu .menu__list > li > a {
    font-size: 15px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__menu .menu__list > li > a {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__menu .menu__list > li > a {
    font-size: 13px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__menu .menu__list > li > a {
    padding: 17px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__menu .menu__list > li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-footer__info {
  padding: 67px 0px 51px;
}
@media (max-width: 1439.98px) {
  .rs-footer__info {
    padding-top: 51.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__info {
    padding-top: 35.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__info {
    padding-top: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__info {
    padding-bottom: 40.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__info {
    padding-bottom: 30.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__info {
    padding-bottom: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}
.rs-footer__spollers_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(1) {
    grid-column: 1/6;
  }
}
.rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body {
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body {
    font-size: 16.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body {
    font-size: 13px;
  }
}
.rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li {
  max-width: 100%;
}
.rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:not(:last-child) {
  margin-bottom: 13px;
}
.rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
  font-family: "Dihjauti", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 70%;
  letter-spacing: 0.03em;
  color: #d9b369;
  margin-bottom: 32px;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    font-size: 41.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    font-size: 32.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    font-size: 24px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    margin-bottom: 26.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    margin-bottom: 21.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(1) .rs-footer__spollers_body > ul li:first-child {
    margin-bottom: 16px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(2) {
    grid-column: 6/10;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_item:nth-child(3) {
    grid-column: 10/13;
  }
}
.rs-footer__spollers_title {
  letter-spacing: 0.05em;
}
.rs-footer__spollers_body {
  margin-top: 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_body {
    font-size: 15px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_body {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body {
    font-size: 13px;
  }
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_body {
    margin-top: 28px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_body {
    margin-top: 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body {
    margin-top: 20px;
  }
}
.rs-footer__spollers_body > ul li {
  max-width: 300px;
}
.rs-footer__spollers_body > ul li:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_body > ul li:not(:last-child) {
    margin-bottom: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__spollers_body > ul li:not(:last-child) {
    margin-bottom: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body > ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-footer__spollers_body > ul a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) bottom/var(--d, 0) 1px no-repeat;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 1px no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (any-hover: hover) {
  .rs-footer__spollers_body > ul a:hover {
    --d: 100%;
  }
}
.rs-footer__spollers_body > .rs-btn {
  margin-top: auto;
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body > .rs-btn {
    margin-top: 20px;
  }
}
.rs-footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-footer__social ul li {
  margin-right: 12px;
}
.rs-footer__social ul li a {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cba55b;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__social ul li a:hover {
    background-color: #cba55b;
  }
}
.rs-footer__bottom {
  margin: auto 0px 0px 0px;
}
@media (max-width: 991.98px) {
  .rs-footer__bottom {
    margin-top: 20px;
  }
}
.rs-footer__bottom ul li:not(:last-child) {
  margin-bottom: 6px;
}