.rs-reviews {
  padding: 139px 0px 94px;
  background: #ecece8;
}
@media (max-width: 1439.98px) {
  .rs-reviews {
    padding-top: 109.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-reviews {
    padding-top: 79.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews {
    padding-top: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-reviews {
    padding-bottom: 79.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-reviews {
    padding-bottom: 64.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews {
    padding-bottom: 50px;
  }
}
.rs-reviews__tabs .tabs__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 991.98px) {
  .rs-reviews__tabs .tabs__navigation {
    margin-top: 20px;
  }
}
@media (min-width: 539.98px) {
  .rs-reviews__tabs .tabs__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.rs-reviews__tabs .tabs__title._tab-active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
@media (min-width: 539.98px) {
  .rs-reviews__tabs .tabs__title:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 539.98px) and (max-width: 1439.98px) {
  .rs-reviews__tabs .tabs__title:not(:last-child) {
    margin-right: 16.6666666667px;
  }
}
@media (min-width: 539.98px) and (max-width: 1169.98px) {
  .rs-reviews__tabs .tabs__title:not(:last-child) {
    margin-right: 13.3333333333px;
  }
}
@media (min-width: 539.98px) and (max-width: 991.98px) {
  .rs-reviews__tabs .tabs__title:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 539.98px) {
  .rs-reviews__tabs .tabs__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-reviews__tabs .tabs__title.rs-btn {
  width: 100%;
  max-width: 230px;
}
@media (max-width: 991.98px) {
  .rs-reviews__tabs .tabs__title.rs-btn {
    max-width: 100%;
  }
}
.rs-reviews__tabs .tabs__body {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  transition-behavior: allow-discrete;
}
.rs-reviews__tabs .tabs__body._tab-active {
  display: block;
  opacity: 1;
}
@starting-style {
  .rs-reviews__tabs .tabs__body._tab-active {
    opacity: 0;
  }
}
.rs-reviews__head {
  margin-bottom: 50px;
}
@media (min-width: 991.98px) {
  .rs-reviews__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1439.98px) {
  .rs-reviews__head {
    margin-bottom: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-reviews__head {
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews__head {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews__slider {
    overflow: visible;
  }
}
.rs-reviews__slide {
  min-height: 1px;
  height: auto;
}
.rs-reviews__img {
  height: 100%;
  width: 100%;
}
.rs-reviews__img a {
  display: block;
  width: 100%;
  height: 100%;
}
.rs-reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-reviews__logo {
  margin-top: 41px;
  padding-top: 67px;
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-reviews__logo {
    margin-top: 37.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-reviews__logo {
    margin-top: 33.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews__logo {
    margin-top: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-reviews__logo {
    padding-top: 61.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-reviews__logo {
    padding-top: 55.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews__logo {
    padding-top: 50px;
  }
}
.rs-reviews__logo_line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-reviews__logo_line-wrap {
  width: 100%;
  max-width: 15.7vw;
  margin-right: 31px;
}
.rs-reviews__logo_line-wrap::after {
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.rs-reviews__logo_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .rs-reviews__logo_list ul {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-reviews__logo_list ul {
    gap: 16px;
  }
}
.rs-reviews__logo_list ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.6666666667% - 30px);
          flex: 0 0 calc(16.6666666667% - 30px);
}
@media (max-width: 991.98px) {
  .rs-reviews__logo_list ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 20px);
            flex: 0 0 calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767.98px) {
  .rs-reviews__logo_list ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 16px);
            flex: 0 0 calc(50% - 16px);
  }
}
.rs-reviews__logo_list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-reviews__logo_list ul li a:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.rs-reviews__logo_list ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}