.rs-services {
  overflow: hidden;
  margin-top: -74px;
}
@media (max-width: 1439.98px) {
  .rs-services {
    margin-top: -39.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services {
    margin-top: -4.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services {
    margin-top: 30px;
  }
}
.rs-services__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-services__bg img {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1439.98px) {
  .rs-services__bg img {
    top: 0;
    -webkit-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    height: 100%;
  }
}
.rs-services__content {
  padding: 318px 0px 68px;
}
@media (max-width: 1439.98px) {
  .rs-services__content {
    padding-top: 228.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__content {
    padding-top: 139.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__content {
    padding-top: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__content {
    padding-bottom: 62px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__content {
    padding-bottom: 56px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__content {
    padding-bottom: 50px;
  }
}
.rs-services__slider {
  overflow: visible;
}
.rs-services__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: li;
}
.rs-services__slide {
  min-height: 1px;
  height: auto;
}
@media (min-width: 991.98px) {
  .rs-services__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}
.rs-services__item {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-2-color);
  padding: 60px 40px 40px 30px;
  -webkit-backdrop-filter: blur(42.2000007629px);
          backdrop-filter: blur(42.2000007629px);
  color: #fff;
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-services__item {
    padding-top: 53.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__item {
    padding-top: 46.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item {
    padding-top: 40px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__item {
    padding-right: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__item {
    padding-right: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item {
    padding-right: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__item {
    padding-bottom: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__item {
    padding-bottom: 26.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item {
    padding-bottom: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__item {
    padding-left: 26.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__item {
    padding-left: 23.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item {
    padding-left: 20px;
  }
}
.rs-services__num {
  position: absolute;
  left: 26px;
  bottom: calc(100% - 30px);
  width: 85px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--primary-2-color);
  border-radius: 50%;
  background-color: #002312;
}
@media (max-width: 1439.98px) {
  .rs-services__num {
    width: 73.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num {
    width: 61.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num {
    width: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-services__num {
    height: 73.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num {
    height: 61.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num {
    height: 50px;
  }
}
.rs-services__num::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  font-family: "Dihjauti", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-2-color);
}
@media (max-width: 1439.98px) {
  .rs-services__num::before {
    font-size: 28px;
  }
}
@media (max-width: 1169.98px) {
  .rs-services__num::before {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__num::before {
    font-size: 20px;
  }
}
.rs-services__num::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: inherit;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  border: 1px solid var(--primary-2-color);
}
.rs-services__desc p {
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}