.rs-steps {
  margin-top: 203px;
  margin-bottom: 136px;
}
@media (max-width: 1439.98px) {
  .rs-steps {
    margin-top: 143.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps {
    margin-top: 84.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps {
    margin-top: 25px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps {
    margin-bottom: 99px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps {
    margin-bottom: 62px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps {
    margin-bottom: 25px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps {
    padding-left: 24px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__title {
    margin-bottom: 50px;
  }
}
.rs-steps__title_body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 991.98px) {
  .rs-steps__title_body {
    position: sticky;
    top: 220px;
    left: 0;
  }
}
.rs-steps__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 90px;
}
@media (max-width: 1439.98px) {
  .rs-steps__line {
    margin-top: 70px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__line {
    margin-top: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__line {
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__line {
    position: absolute;
    top: 0;
    left: 8px;
  }
}
.rs-steps__line-wrap {
  height: 139px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-steps__line-wrap::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rs-steps__list {
  counter-reset: li;
}
.rs-steps__item {
  border: 1px solid var(--primary-2-color);
  padding: 90px 40px 60px 40px;
  -webkit-backdrop-filter: blur(42.2000007629px);
          backdrop-filter: blur(42.2000007629px);
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-steps__item {
    padding-top: 73.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__item {
    padding-top: 56.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item {
    padding-top: 40px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__item {
    padding-right: 32px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__item {
    padding-right: 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item {
    padding-right: 16px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__item {
    padding-bottom: 46.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__item {
    padding-bottom: 33.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item {
    padding-bottom: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__item {
    padding-left: 32px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__item {
    padding-left: 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item {
    padding-left: 16px;
  }
}
.rs-steps__item:not(:last-child) {
  margin-bottom: 93px;
}
@media (max-width: 1439.98px) {
  .rs-steps__item:not(:last-child) {
    margin-bottom: 75.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__item:not(:last-child) {
    margin-bottom: 57.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.rs-steps__num {
  --bottom: 65px;
  position: absolute;
  left: 40px;
  bottom: calc(100% - var(--bottom));
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--primary-2-color);
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 1439.98px) {
  .rs-steps__num {
    width: 103.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__num {
    width: 76.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__num {
    width: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__num {
    height: 103.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__num {
    height: 76.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__num {
    height: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__num {
    --bottom: 51.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__num {
    --bottom: 38.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__num {
    --bottom: 25px;
  }
}
@media (max-width: 1439.98px) {
  .rs-steps__num {
    left: 35.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__num {
    left: 30.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__num {
    left: 26px;
  }
}
.rs-steps__num::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  font-family: "Dihjauti", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-2-color);
}
@media (max-width: 1439.98px) {
  .rs-steps__num::before {
    font-size: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-steps__num::before {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__num::before {
    font-size: 20px;
  }
}
.rs-steps__num::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: inherit;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid var(--primary-2-color);
}
.rs-steps__desc h4 {
  font-family: "Inter", sans-serif;
  color: #646464;
}