.rs-text-block {
  margin-top: 140px;
}
@media (max-width: 1439.98px) {
  .rs-text-block {
    margin-top: 110px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block {
    margin-top: 80px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block {
    margin-top: 50px;
  }
}
.rs-text-block.rs-text-block-inner {
  margin-top: 140px;
  margin-bottom: 140px;
}
@media (max-width: 1439.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-top: 110px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-top: 80px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-top: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-bottom: 110px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-bottom: 80px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block.rs-text-block-inner {
    margin-bottom: 50px;
  }
}
@media (min-width: 767.98px) {
  .rs-text-block__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .rs-text-block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.rs-text-block__img {
  position: relative;
}
@media (min-width: 767.98px) {
  .rs-text-block__img {
    margin-left: -23px;
    grid-column: 1/6;
  }
}
.rs-text-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-text-block__line {
  position: absolute;
  left: calc(100% + 32px);
  top: 0;
  max-height: 23.7vw;
  height: 100%;
}
.rs-text-block__line-wrap::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rs-text-block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0px;
}
@media (min-width: 767.98px) {
  .rs-text-block__desc {
    grid-column: 7/13;
  }
}
.rs-text-block-inner .rs-text-block__desc {
  padding-right: 130px;
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-text-block-inner .rs-text-block__desc {
    padding-right: 96.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block-inner .rs-text-block__desc {
    padding-right: 63.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block-inner .rs-text-block__desc {
    padding-right: 30px;
  }
}
.rs-text-block__desc_line {
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rs-text-block__desc_line-wrap {
  width: auto;
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.rs-text-block__desc_line-wrap::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rs-text-block__body > p {
  margin-top: 20px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__body > p {
    margin-top: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__body > p {
    margin-top: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__body > p {
    margin-top: 10px;
  }
}
.rs-text-block__body .rs-link {
  margin-top: 30px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__body .rs-link {
    margin-top: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__body .rs-link {
    margin-top: 16.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__body .rs-link {
    margin-top: 10px;
  }
}
.rs-text-block__body .rs-btn {
  margin-top: 20px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__body .rs-btn {
    margin-top: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__body .rs-btn {
    margin-top: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__body .rs-btn {
    margin-top: 10px;
  }
}
.rs-text-block__body p {
  font-size: 20px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__body p {
    font-size: 17.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__body p {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__body p {
    font-size: 13px;
  }
}
.rs-text-block__body blockquote {
  margin-top: 20px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__body blockquote {
    margin-top: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__body blockquote {
    margin-top: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__body blockquote {
    margin-top: 10px;
  }
}
.rs-text-block__features {
  margin-top: 30px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__features {
    margin-top: 25px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__features {
    margin-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__features {
    margin-top: 15px;
  }
}
.rs-text-block__features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__features ul {
    gap: 25px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__features ul {
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__features ul {
    gap: 15px;
  }
}
@media (max-width: 539.98px) {
  .rs-text-block__features ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-text-block__features ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-text-block__features_circle {
  width: 83px;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--primary-2-color);
  border-radius: 50%;
  font-family: "Dihjauti", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
}
@media (max-width: 1439.98px) {
  .rs-text-block__features_circle {
    font-size: 17.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__features_circle {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__features_circle {
    font-size: 13px;
  }
}
@media (max-width: 1439.98px) {
  .rs-text-block__features_circle {
    width: 75.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__features_circle {
    width: 67.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__features_circle {
    width: 60px;
  }
}
@media (max-width: 1439.98px) {
  .rs-text-block__features_circle {
    height: 75.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-text-block__features_circle {
    height: 67.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-text-block__features_circle {
    height: 60px;
  }
}
.rs-text-block__features_circle::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: inherit;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  border: 1px solid var(--primary-2-color);
}