.rs-video {
  margin-top: 84px;
  padding-top: 80px;
}
@media (max-width: 1439.98px) {
  .rs-video {
    margin-top: 64.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video {
    margin-top: 44.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video {
    margin-top: 25px;
  }
}
@media (max-width: 1439.98px) {
  .rs-video {
    padding-top: 61.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video {
    padding-top: 43.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-video {
    padding-top: 25px;
  }
}
@media (max-width: 991.98px) {
  .rs-video {
    padding-left: 24px;
  }
}
.rs-video .video {
  position: relative;
}
.rs-video .video img,
.rs-video .video video,
.rs-video .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-video .video .video-block {
  padding: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-video .video .video-text {
  margin-left: 24px;
  max-width: 228px;
}
@media (max-width: 991.98px) {
  .rs-video .video .video-text {
    margin-left: 8px;
  }
}
.rs-video .video .video-text p {
  font-weight: 400;
  line-height: 120%;
  color: var(--primary-2-color);
}
.rs-video .video .video-play {
  width: 82px;
  height: 82px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--primary-2-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1439.98px) {
  .rs-video .video .video-play {
    width: 71.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video .video .video-play {
    width: 60.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video .video .video-play {
    width: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-video .video .video-play {
    height: 71.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video .video .video-play {
    height: 60.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video .video .video-play {
    height: 50px;
  }
}
.rs-video .video .video-play svg {
  width: 23px;
  height: 28px;
  margin-right: -5px;
}
@media (max-width: 1439.98px) {
  .rs-video .video .video-play svg {
    width: 22px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video .video .video-play svg {
    width: 21px;
  }
}
@media (max-width: 991.98px) {
  .rs-video .video .video-play svg {
    width: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-video .video .video-play svg {
    height: 25.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video .video .video-play svg {
    height: 22.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video .video .video-play svg {
    height: 20px;
  }
}
.rs-video .video .video-label {
  position: absolute;
  bottom: 45px;
  left: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1439.98px) {
  .rs-video .video .video-label {
    bottom: 33.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video .video .video-label {
    bottom: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video .video .video-label {
    bottom: 10px;
  }
}
.rs-video .video .video-label::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H50' stroke='%23D9B369'/%3e%3ccircle cx='58' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 66px;
  height: 16px;
  margin-right: 8px;
}
.rs-video .video .video-label p {
  letter-spacing: 0px;
}
.rs-video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-video__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .rs-video__line {
    position: absolute;
    top: 0;
    left: 8px;
  }
}
.rs-video__line-wrap {
  height: 123px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-video__line-wrap::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rs-video__block {
  max-width: 1400px;
  width: 100%;
}
.rs-video__block > p {
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 1439.98px) {
  .rs-video__block > p {
    font-size: 17.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video__block > p {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-video__block > p {
    font-size: 13px;
  }
}
@media (max-width: 1439.98px) {
  .rs-video__block > p {
    margin-top: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video__block > p {
    margin-top: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-video__block > p {
    margin-top: 10px;
  }
}
.rs-video__video {
  margin-top: 50px;
}
@media (max-width: 1439.98px) {
  .rs-video__video {
    margin-top: 43.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-video__video {
    margin-top: 36.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-video__video {
    margin-top: 30px;
  }
}
.rs-video__video .video {
  padding-bottom: 48%;
}