@import "../base/_mixin";

.rs-about {
	margin-top: 230px;
	padding-top: 82px;
	position: relative;
	z-index: 1;

	@include responsive-auto(margin-top, (230, 30), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-top, (82, 30), (1439.98, 1169.98, 991.98));

	@media (max-width: 1169.98px) and (min-width: 991.98px) {
		margin-top: 150px;
	}

	@media (max-width: 991.98px) {
		padding-left: 24px;
	}

	&.rs-about-inner {
		margin-top: 70px;
		padding-top: 70px;

		@include responsive-auto(margin-top, (70, 30), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-top, (70, 30), (1439.98, 1169.98, 991.98));
	}

	.video {
		position: relative;

		img,
		video,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.video-tag {
		}

		.video-block {
			padding: 16px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.video-text {
			margin-left: 24px;
			max-width: 228px;

			@media (max-width: 991.98px) {
				margin-left: 8px;
			}

			p {
				font-weight: 400;
				// line-height: 22px;
				line-height: 120%;
				color: var(--primary-2-color);
			}
		}

		.video-play {
			width: 82px;
			height: 82px;
			flex-shrink: 0;
			border-radius: 50%;
			border: 1px solid var(--primary-2-color);
			display: flex;
			align-items: center;
			justify-content: center;

			@include responsive-auto(width, (82, 50), (1439.98, 1169.98, 991.98));
			@include responsive-auto(height, (82, 50), (1439.98, 1169.98, 991.98));

			svg {
				width: 23px;
				height: 28px;
				margin-right: -5px;

				@include responsive-auto(width, (23, 20), (1439.98, 1169.98, 991.98));
				@include responsive-auto(height, (28, 20), (1439.98, 1169.98, 991.98));
			}
		}

		.video-label {
			position: absolute;
			bottom: 45px;
			left: 0;
			color: #fff;
			display: flex;
			align-items: center;

			@include responsive-auto(bottom, (45, 10), (1439.98, 1169.98, 991.98));

			&::before {
				content: "";
				display: block;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H50' stroke='%23D9B369'/%3e%3ccircle cx='58' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 66px;
				height: 16px;
				margin-right: 8px;
			}

			p {
				letter-spacing: 0px;
			}
		}
	}

	&__line {
		width: 100%;
		// max-width: 815px;
		max-width: 42.448vw;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;

		&-wrap {
			&::after {
				content: "";
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.rs-about-inner & {
			width: auto;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			max-height: 100%;
			margin-right: 103px;

			@include responsive-auto(margin-right, (103, 0), (1439.98, 1169.98, 991.98));

			@media (max-width: 991.98px) {
				position: absolute;
				top: 0;
				left: 8px;
			}

			&-wrap {
				height: 123px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 15px;

				&::after {
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	// .rs-about__container
	&__container {
	}

	&__blocks {
		.rs-about-inner & {
			display: flex;
		}
	}

	// .rs-about__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;

			.rs-about-inner & {
				grid-template-columns: repeat(11, 1fr);
			}
		}
	}

	// .rs-about__desc
	&__desc {
		@media (min-width: 991.98px) {
			grid-column: 1/6;

			.rs-about-inner & {
				margin-right: -5px;
			}

			@media (max-width: 1600.98px) {
				grid-column: 1/7;
			}
		}

		@media (max-width: 991.98px) {
			margin-bottom: 30px;
		}

		p {
			margin-top: 37px;
			font-size: 20px;
			color: #646464;

			@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
			@include responsive-auto(margin-top, (37, 15), (1439.98, 1169.98, 991.98));

			@media (max-width: 991.98px) {
				br {
					display: none;
				}
			}
		}
	}

	// .rs-about__img
	&__img {
		position: relative;
		margin: 10px;

		.rs-about-inner & {
			margin: 0px;
		}

		@media (min-width: 991.98px) {
			grid-column: 8/13;

			.rs-about-inner & {
				grid-column: 8/12;
			}
		}

		.video {
			padding-bottom: 66.2%;

			.rs-about-inner & {
				padding-bottom: 138.8%;
			}
		}

		&_block {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				display: block;
				top: -10px;
				left: -10px;
				bottom: -10px;
				right: -10px;
				width: calc(100% + 20px);
				height: calc(100% + 20px);
				border: 1px solid var(--primary-2-color);
				pointer-events: none;

				.rs-about-inner & {
					width: 100%;
					height: 100%;
					top: -25px;
					right: -25px;
					bottom: auto;
					left: auto;

					@include responsive-auto(top, (-25, -10), (1439.98, 1169.98, 991.98));
					@include responsive-auto(right, (-25, -10), (1439.98, 1169.98, 991.98));
				}
			}
		}
	}

	&__footer {
		margin-top: 40px;

		@include responsive-auto(margin-top, (40, 20), (1439.98, 1169.98, 991.98));
	}
}
