@import "../base/_mixin";

.rs-about {
	margin-top: 230px;
	padding-top: 82px;
	position: relative;
	z-index: 1;

	@include responsive-auto(margin-top, (230, 30), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-top, (82, 30), (1439.98, 1169.98, 991.98));

	@media (max-width: 1169.98px) and (min-width: 991.98px) {
		margin-top: 150px;
	}

	&__line {
		width: 100%;
		// max-width: 815px;
		max-width: 42.448vw;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;

		&-wrap {
			&::after {
				content: "";
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// .rs-about__container
	&__container {
	}

	// .rs-about__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;
		}
	}

	// .rs-about__desc
	&__desc {
		@media (min-width: 991.98px) {
			grid-column: 1/6;

			@media (max-width: 1600.98px) {
				grid-column: 1/7;
			}
		}

		@media (max-width: 991.98px) {
			margin-bottom: 30px;
		}

		p {
			margin-top: 37px;
			font-size: 20px;
			color: #646464;

			@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
			@include responsive-auto(margin-top, (37, 15), (1439.98, 1169.98, 991.98));

			@media (max-width: 991.98px) {
				br {
					display: none;
				}
			}
		}
	}

	// .rs-about__img
	&__img {
		position: relative;
		margin: 10px;

		@media (min-width: 991.98px) {
			grid-column: 8/13;
		}

		.video {
			padding-bottom: 66.2%;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			top: -10px;
			left: -10px;
			bottom: -10px;
			right: -10px;
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			border: 1px solid #d9b369;
			pointer-events: none;
		}
	}
}
