@import "../base/_mixin";

.rs-news {
	background: linear-gradient(180deg, #0a4231 0%, #002413 100%);
	margin-top: 140px;
	color: #fff;

	@include responsive-auto(margin-top, (140, 50), (1439.98, 1169.98, 991.98));

	// .rs-news__container
	&__container {
	}

	// .rs-news__wrapper
	&__wrapper {
		padding: 140px 0px 110px;
		position: relative;

		@include responsive-auto(padding-top, (140, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-bottom, (110, 50), (1439.98, 1169.98, 991.98));
	}

	// .rs-news__line
	&__line {
		position: absolute;
		top: 0;
		right: 28px;
		display: flex;
		flex-direction: row-reverse;

		&-wrap {
			height: 246px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@include responsive-auto(height, (246, 100), (1439.98, 1169.98, 991.98));

			&::after {
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		p {
			margin-right: 7px;
			margin-bottom: 10px;
		}
	}

	// .rs-news__slider
	&__slider {
		padding-top: 50px;

		@media (max-width: 991.98px) {
			overflow: visible;
		}

		@include responsive-auto(padding-top, (50, 20), (1439.98, 1169.98, 991.98));

		.swiper-horizontal > .swiper-pagination-progressbar,
		.swiper-pagination-progressbar.swiper-pagination-horizontal,
		.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
		.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
			background-color: rgba(255, 255, 255, 0.2);
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
			background: var(--primary-2-color);
		}
	}

	// .rs-news__swiper
	&__swiper {
	}

	// .rs-news__slide
	&__slide {
		min-height: 1px;
		height: auto;
	}

	// .rs-news__item
	&__item {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		transition: transform 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-10px);

				.rs-news__desc {
					h5 {
						color: var(--primary-2-color);
					}
				}
			}
		}
	}

	// .rs-news__img
	&__img {
		position: relative;
		padding-bottom: 69.39%;
		margin: 10px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			top: -10px;
			left: -10px;
			bottom: -10px;
			right: -10px;
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			border: 1px solid var(--primary-2-color);
			pointer-events: none;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__date {
		position: absolute;
		top: 34px;
		left: -10px;
		display: flex;
		align-items: center;

		@include responsive-auto(bottom, (45, 10), (1439.98, 1169.98, 991.98));

		&::before {
			content: "";
			display: block;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='16' viewBox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H29' stroke='%23D9B369'/%3e%3ccircle cx='37' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 45px;
			height: 16px;
			margin-right: 7px;
		}

		&_text {
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0.03em;
			padding: 0px 10px 0px 10px;
			border-radius: 61px;
			background-color: var(--primary-2-color);
		}
	}

	// .rs-news__desc
	&__desc {
		margin-top: 34px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		flex-grow: 1;

		@include responsive-auto(margin-top, (34, 15), (1439.98, 1169.98, 991.98));

		.rs-btn {
			margin-top: 30px;

			@include responsive-auto(margin-top, (30, 15), (1439.98, 1169.98, 991.98));
		}

		h5 {
			// line-height: 29px;
			line-height: 130%;
			letter-spacing: 0.05em;
			transition: color 0.3s ease 0s;

			@include responsive-auto(margin-top, (30, 15), (1439.98, 1169.98, 991.98));
		}
	}

	// .rs-news__navigation
	&__navigation {
	}

	// .rs-news__pagination
	&__pagination {
	}

	// .rs-news__buttons
	&__buttons {
	}

	// .rs-news__button-prev
	&__button-prev {
	}

	// .rs-news__button-next
	&__button-next {
	}
}
