@import "../base/_mixin";

.rs-services {
	overflow: hidden;
	margin-top: -74px;

	@include responsive-auto(margin-top, (-74, 30), (1439.98, 1169.98, 991.98));

	// .rs-services__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			position: absolute;
			top: -50%;
			left: 0;
			width: 100%;
			height: auto;
			object-fit: cover;

			@media (max-width: 1439.98px) {
				top: 0;
				transform: translateY(0px) !important;
				height: 100%;
			}
		}
	}

	// .rs-services__content
	&__content {
		padding: 318px 0px 68px;

		@include responsive-auto(padding-top, (318, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-bottom, (68, 50), (1439.98, 1169.98, 991.98));
	}

	// .rs-services__container
	&__container {
	}

	// .rs-services__wrapper
	&__slider {
		overflow: visible;
	}

	// .rs-services__list
	&__swiper {
		display: flex;
		counter-reset: li;
	}

	&__slide {
		min-height: 1px;
		height: auto;

		@media (min-width: 991.98px) {
			flex: 0 0 20%;
		}
	}

	// .rs-services__item
	&__item {
		width: 100%;
		height: 100%;
		border: 1px solid var(--primary-2-color);
		padding: 60px 40px 40px 30px;
		backdrop-filter: blur(42.20000076293945px);
		color: #fff;
		position: relative;

		@include responsive-auto(padding-top, (60, 40), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-right, (40, 20), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-bottom, (40, 20), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-left, (30, 20), (1439.98, 1169.98, 991.98));
	}

	&__num {
		position: absolute;
		left: 26px;
		bottom: calc(100% - 30px);
		width: 85px;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--primary-2-color);
		border-radius: 50%;
		background-color: #002312;

		@include responsive-auto(width, (85, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(height, (85, 50), (1439.98, 1169.98, 991.98));

		&::before {
			counter-increment: li;
			content: counter(li, decimal-leading-zero);
			font-family: "Dihjauti", sans-serif;
			font-weight: 400;
			font-size: 32px;
			// line-height: 38px;
			line-height: 120%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: var(--primary-2-color);

			@include responsive-auto(font-size, (32, 20), (1439.98, 1169.98, 991.98));
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: inherit;
			width: calc(100% - 7px);
			height: calc(100% - 7px);
			border: 1px solid var(--primary-2-color);
		}
	}

	&__desc {
		p {
			font-weight: 400;
			// line-height: 20px;
			line-height: 110%;
			letter-spacing: 0px;
		}
	}
}
