@import "../base/_mixin";

.rs-steps {
	margin-top: 203px;
	margin-bottom: 136px;

	@include responsive-auto(margin-top, (203, 25), (1439.98, 1169.98, 991.98));
	@include responsive-auto(margin-bottom, (136, 25), (1439.98, 1169.98, 991.98));

	@media (max-width: 991.98px) {
		padding-left: 24px;
	}

	// .rs-steps__container
	&__container {
	}

	// .rs-steps__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}

	// .rs-steps__title
	&__title {
		@media (max-width: 991.98px) {
			margin-bottom: 50px;
		}

		// .rs-steps__title_body
		&_body {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			@media (min-width: 991.98px) {
				position: sticky;
				top: 220px;
				left: 0;
			}
		}
	}

	// .rs-timer__desc_line
	&__line {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-end;
		margin-top: 90px;

		@include responsive-auto(margin-top, (90, 30), (1439.98, 1169.98, 991.98));

		@media (max-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 8px;
		}

		&-wrap {
			height: 139px;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	// .rs-steps__body
	&__body {
	}

	// .rs-steps__list
	&__list {
		counter-reset: li;
	}

	// .rs-steps__item
	&__item {
		border: 1px solid var(--primary-2-color);
		padding: 90px 40px 60px 40px;
		backdrop-filter: blur(42.20000076293945px);
		position: relative;

		@include responsive-auto(padding-top, (90, 40), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-right, (40, 16), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-bottom, (60, 20), (1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-left, (40, 16), (1439.98, 1169.98, 991.98));

		&:not(:last-child) {
			margin-bottom: 93px;

			@include responsive-auto(margin-bottom, (93, 40), (1439.98, 1169.98, 991.98));
		}
	}

	&__num {
		--bottom: 65px;
		position: absolute;
		left: 40px;
		bottom: calc(100% - var(--bottom));
		width: 130px;
		height: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--primary-2-color);
		border-radius: 50%;
		background-color: #fff;

		@include responsive-auto(width, (130, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(height, (130, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(--bottom, (65, 25), (1439.98, 1169.98, 991.98));
		@include responsive-auto(left, (40, 26), (1439.98, 1169.98, 991.98));

		&::before {
			counter-increment: li;
			content: counter(li, decimal-leading-zero);
			font-family: "Dihjauti", sans-serif;
			font-weight: 400;
			font-size: 50px;
			// line-height: 60px;
			line-height: 120%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: var(--primary-2-color);

			@include responsive-auto(font-size, (50, 20), (1439.98, 1169.98, 991.98));
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: inherit;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			border: 1px solid var(--primary-2-color);
		}
	}

	&__desc {
		h4 {
			font-family: "Inter", sans-serif;
			color: #646464;
		}
	}
}
