@import "../base/_mixin";

.rs-timer {
	padding-top: 94px;
	margin-top: 178px;

	@include responsive-auto(margin-top, (94, 50), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-top, (178, 50), (1439.98, 1169.98, 991.98));

	// .rs-timer__line
	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		// max-width: 685px;
		max-width: 35.68vw;

		&-wrap {
			&::after {
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// .rs-timer__container
	&__container {
	}

	// .rs-timer__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;
		}
	}

	// .rs-timer__desc
	&__desc {
		display: flex;
		justify-content: space-between;

		@media (min-width: 991.98px) {
			grid-column: 1/6;
		}

		// .rs-timer__desc_line
		&_line {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: flex-end;
			margin-right: 20px;

			&-wrap {
				height: 100%;
				// max-height: 139px;
				max-height: 7.24vw;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 15px;

				&::after {
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

		&_body {
			@media (min-width: 991.98px) {
				max-width: 490px;
			}

			p {
				margin-top: 20px;
				font-size: 20px;
				color: #646464;
				letter-spacing: 0.045em;

				@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
				@include responsive-auto(margin-top, (20, 10), (1439.98, 1169.98, 991.98));
			}

			.rs-btn {
				margin-top: 30px;

				@include responsive-auto(margin-top, (30, 10), (1439.98, 1169.98, 991.98));
			}
		}
	}

	// .rs-timer__block
	&__block {
		position: relative;

		@media (min-width: 991.98px) {
			grid-column: 7/13;

			@media (max-width: 1169.98px) {
				grid-column: 6/13;
			}
		}
	}

	// .rs-timer__timer
	&__timer {
		.timer {
			display: flex;
			justify-content: flex-end;
			margin-top: 15px;

			@media (max-width: 991.98px) {
				justify-content: center;
				margin-top: 50px;
			}

			// .timer__items
			&__items {
				height: 454px;
				gap: 35px 25px;
				display: grid;
				grid-template-columns: 454px 153px;
				@include responsive-auto(height, (454, 200), (1439.98, 1169.98, 991.98));
				@include responsive-auto(column-gap, (25, 10), (1439.98, 1169.98, 991.98));
				@include responsive-auto(row-gap, (35, 10), (1439.98, 1169.98, 991.98));

				@media (max-width: 1439.98px) {
					grid-template-columns: 369.3333333333px 153px;
				}

				@media (max-width: 1169.98px) {
					grid-template-columns: 284.6666666667px 153px;
				}

				@media (max-width: 991.98px) {
					grid-template-columns: 200px 100px;
				}

				@media (max-width: 539.98px) {
					grid-template-columns: 150px 100px;
				}

				/* Если остается 1 элемент */
				&:has(.timer__item:only-child) {
					grid-template-rows: unset;
					max-width: 454px;
					width: 100%;
					grid-template-columns: repeat(1, 1fr);

					@include responsive-auto(max-width, (454, 200), (1439.98, 1169.98, 991.98));

					.timer__item:nth-child(1) {
						grid-column: unset;
						grid-row: unset;
					}
				}

				/* Если остается 2 элемента */
				&:has(.timer__item:nth-child(2):last-child) {
					@media (min-width: 1439.98px) {
						grid-template-rows: repeat(7, 35px);
					}

					.timer__item:nth-child(2) {
						grid-row: 4;
					}
				}

				/* Если остается 3 элемента */
				&:has(.timer__item:nth-child(3):last-child) {
					@media (min-width: 1439.98px) {
						grid-template-rows: repeat(6, 1fr);
					}

					.timer__item:nth-child(1) {
						grid-row: 6 span;
					}
					.timer__item:nth-child(2) {
						grid-row: 3;
					}
					.timer__item:nth-child(3) {
						grid-row: 4;
					}
				}

				/* Если остается 4 элемента */
				&:has(.timer__item:nth-child(4):last-child) {
					@media (min-width: 1439.98px) {
						grid-template-rows: repeat(7, 35px);
					}

					.timer__item:nth-child(2) {
						grid-row: 3;
					}
					.timer__item:nth-child(3) {
						grid-row: 4;
					}
					.timer__item:nth-child(4) {
						grid-row: 5;
					}
				}
			}

			// .timer__item
			&__item {
				position: relative;
				font-family: "Dihjauti", sans-serif;
				font-weight: 400;
				font-size: 50px;
				// line-height: 60px;
				line-height: 120%;
				color: #d9b369;
				display: flex;
				align-items: center;

				@include responsive-auto(font-size, (50, 24), (1439.98, 1169.98, 991.98));

				span {
					display: block;
				}

				&::after {
					font-family: "Inter", sans-serif;
					text-transform: capitalize;
					content: attr(data-title);
					display: block;
					font-weight: 300;
					// line-height: 30px;
					line-height: 150%;
					letter-spacing: 0.03em;
				}

				&:first-child {
					grid-column: 1 / 2;
					grid-row: 7 span;
					font-size: 196px;
					line-height: 120%;
					letter-spacing: -0.05em;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='454' height='454' viewBox='0 0 454 454' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='227.155' cy='227.054' r='225.268' fill='white' stroke='%23D9B369' stroke-width='2.67645'/%3e%3ccircle cx='227.154' cy='227.054' r='215.454' stroke='%23D9B369' stroke-width='0.892151'/%3e%3ccircle cx='227.155' cy='227.054' r='173.523' stroke='%23D9B369' stroke-width='0.892151'/%3e%3cpath d='M11.2545 232.853C8.54455 232.853 6.34769 230.656 6.34769 227.946C6.34769 225.236 8.54455 223.039 11.2545 223.039C13.9645 223.039 16.1613 225.236 16.1613 227.946C16.1613 230.656 13.9645 232.853 11.2545 232.853Z' fill='white' stroke='%23D9B369' stroke-width='0.892151'/%3e%3cpath d='M443.055 232.853C440.345 232.853 438.148 230.656 438.148 227.946C438.148 225.236 440.345 223.039 443.055 223.039C445.765 223.039 447.962 225.236 447.962 227.946C447.962 230.656 445.765 232.853 443.055 232.853Z' fill='white' stroke='%23D9B369' stroke-width='0.892151'/%3e%3cpath d='M227.155 232.853C224.445 232.853 222.248 230.656 222.248 227.946C222.248 225.236 224.445 223.039 227.155 223.039C229.865 223.039 232.062 225.236 232.062 227.946C232.062 230.656 229.865 232.853 227.155 232.853Z' fill='white' stroke='%23D9B369' stroke-width='0.892151'/%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					flex-direction: column;
					justify-content: center;

					@include responsive-auto(font-size, (196, 70), (1439.98, 1169.98, 991.98));

					&::before {
						content: "";
						position: absolute;
						height: 100%;
						width: calc(100% - 25px);
						top: 0;
						right: 44%;
						background-image: url("../img/time_lion.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						z-index: -1;
					}

					&::after {
						font-size: 24px;
						margin-top: -30px;
						text-align: center;
						color: #000;

						@include responsive-auto(font-size, (24, 13), (1439.98, 1169.98, 991.98));
						@include responsive-auto(margin-top, (-30, -15), (1439.98, 1169.98, 991.98));
					}
				}

				&:nth-child(2) {
					grid-column: 2 / 3;
					grid-row: 3;
				}

				&:nth-child(3) {
					grid-column: 2 / 3;
					grid-row: 4;
				}

				&:nth-child(4) {
					grid-column: 2 / 3;
					grid-row: 5;
				}

				&:not(:first-child) {
					span {
						min-width: 60px;

						@include responsive-auto(min-width, (60, 40), (1439.98, 1169.98, 991.98));
					}

					&:not(:last-child) {
						&::before {
							content: "";
							position: absolute;
							bottom: -17px;
							left: 0;
							width: 48px;
							height: 3px;
							background-color: #d9b369;

							@include responsive-auto(width, (48, 30), (1439.98, 1169.98, 991.98));
							@include responsive-auto(height, (3, 1), (1439.98, 1169.98, 991.98));
							@include responsive-auto(bottom, (-17, -2), (1439.98, 1169.98, 991.98));
						}
					}

					&::after {
						margin-left: 20px;
						font-size: 20px;
						color: #646464;

						@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
						@include responsive-auto(margin-left, (20, 8), (1439.98, 1169.98, 991.98));
					}
				}
			}
		}
	}

	// .rs-timer__sale
	&__sale {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		position: absolute;
		right: 30px;
		top: -30px;
		z-index: 10;

		@media (max-width: 991.98px) {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			justify-content: center;
		}

		// .rs-timer__sale_percent
		&_percent {
			flex-shrink: 0;
			border-radius: 50%;
			width: 162px;
			height: 162px;
			background: #d9b369;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Dihjauti", sans-serif;
			font-weight: 400;
			font-size: 38px;
			// line-height: 50px;
			line-height: 130%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #fff;

			@include responsive-auto(width, (162, 70), (1439.98, 1169.98, 991.98));
			@include responsive-auto(height, (162, 70), (1439.98, 1169.98, 991.98));
			@include responsive-auto(font-size, (38, 16), (1439.98, 1169.98, 991.98));
		}

		// .rs-timer__sale_desc
		&_desc {
			max-width: 154px;
			width: 100%;
			margin-left: 14px;
			color: #646464;

			p {
				line-height: 120%;
			}
		}
	}
}
