@import "../base/_mixin";

.rs-text-block {
	margin-top: 140px;

	@include responsive-auto(margin-top, (140, 50), (1439.98, 1169.98, 991.98));

	&.rs-text-block-inner {
		margin-top: 140px;
		margin-bottom: 140px;

		@include responsive-auto(margin-top, (140, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(margin-bottom, (140, 50), (1439.98, 1169.98, 991.98));
	}

	// .rs-text-block__container
	&__container {
	}

	// .rs-text-block__wrapper
	&__wrapper {
		@media (min-width: 767.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;
		}

		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	// .rs-text-block__img
	&__img {
		position: relative;

		@media (min-width: 767.98px) {
			margin-left: -23px;
			grid-column: 1/6;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .rs-text-block__line
	&__line {
		position: absolute;
		left: calc(100% + 32px);
		top: 0;
		max-height: 23.7vw;
		height: 100%;

		&-wrap {
			&::after {
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	// .rs-text-block__desc
	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 20px 0px;

		@media (min-width: 767.98px) {
			grid-column: 7/13;
		}

		.rs-text-block-inner & {
			padding-right: 130px;
			position: relative;

			@include responsive-auto(padding-right, (130, 30), (1439.98, 1169.98, 991.98));
		}

		&_line {
			width: auto;
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: flex-end;

			&-wrap {
				width: auto;
				height: 123px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 15px;

				&::after {
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	&__body {
		& > p {
			margin-top: 20px;

			@include responsive-auto(margin-top, (20, 10), (1439.98, 1169.98, 991.98));
		}

		.rs-link {
			margin-top: 30px;

			@include responsive-auto(margin-top, (30, 10), (1439.98, 1169.98, 991.98));
		}

		.rs-btn {
			margin-top: 20px;

			@include responsive-auto(margin-top, (20, 10), (1439.98, 1169.98, 991.98));
		}

		p {
			font-size: 20px;

			@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
		}

		blockquote {
			margin-top: 20px;

			@include responsive-auto(margin-top, (20, 10), (1439.98, 1169.98, 991.98));
		}
	}

	// .rs-text-block__features
	&__features {
		margin-top: 30px;

		@include responsive-auto(margin-top, (30, 15), (1439.98, 1169.98, 991.98));

		ul {
			display: flex;
			gap: 30px;

			@include responsive-auto(gap, (30, 15), (1439.98, 1169.98, 991.98));

			@media (max-width: 539.98px) {
				flex-direction: column;
			}

			li {
				display: flex;
				align-items: center;
			}
		}

		// .rs-text-block__features_circle
		&_circle {
			width: 83px;
			height: 83px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--primary-2-color);
			border-radius: 50%;
			font-family: "Dihjauti", sans-serif;
			font-weight: 400;
			font-size: 20px;
			// line-height: 28px;
			line-height: 140%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			position: relative;
			margin-right: 10px;

			@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
			@include responsive-auto(width, (83, 60), (1439.98, 1169.98, 991.98));
			@include responsive-auto(height, (83, 60), (1439.98, 1169.98, 991.98));

			&::after {
				content: "";
				position: absolute;
				display: block;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border-radius: inherit;
				width: calc(100% - 7px);
				height: calc(100% - 7px);
				border: 1px solid var(--primary-2-color);
			}
		}

		// .rs-text-block__features_desc
		&_desc {
		}
	}
}
