@import "../base/_mixin";

.rs-video {
	margin-top: 84px;
	padding-top: 80px;

	@include responsive-auto(margin-top, (84, 25), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-top, (80, 25), (1439.98, 1169.98, 991.98));

	@media (max-width: 991.98px) {
		padding-left: 24px;
	}

	.video {
		position: relative;
	
		img,
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	
		.video-tag {
		}
	
		.video-block {
			padding: 16px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	
		.video-text {
			margin-left: 24px;
			max-width: 228px;
	
			@media (max-width: 991.98px) {
				margin-left: 8px;
			}
	
			p {
				font-weight: 400;
				// line-height: 22px;
				line-height: 120%;
				color: var(--primary-2-color);
			}
		}
	
		.video-play {
			width: 82px;
			height: 82px;
			flex-shrink: 0;
			border-radius: 50%;
			border: 1px solid var(--primary-2-color);
			display: flex;
			align-items: center;
			justify-content: center;
	
			@include responsive-auto(width, (82, 50), (1439.98, 1169.98, 991.98));
			@include responsive-auto(height, (82, 50), (1439.98, 1169.98, 991.98));
	
			svg {
				width: 23px;
				height: 28px;
				margin-right: -5px;
	
				@include responsive-auto(width, (23, 20), (1439.98, 1169.98, 991.98));
				@include responsive-auto(height, (28, 20), (1439.98, 1169.98, 991.98));
			}
		}
	
		.video-label {
			position: absolute;
			bottom: 45px;
			left: 0;
			color: #fff;
			display: flex;
			align-items: center;
	
			@include responsive-auto(bottom, (45, 10), (1439.98, 1169.98, 991.98));
	
			&::before {
				content: "";
				display: block;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H50' stroke='%23D9B369'/%3e%3ccircle cx='58' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 66px;
				height: 16px;
				margin-right: 8px;
			}
	
			p {
				letter-spacing: 0px;
			}
		}
	}

	// .rs-video__container
	&__container {
	}

	// .rs-video__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	// .rs-video__line
	&__line {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-end;
		margin-right: 20px;

		@media (max-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 8px;
		}

		&-wrap {
			height: 123px;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	// .rs-video__block
	&__block {
		max-width: 1400px;
		width: 100%;

		& > p {
			margin-top: 20px;
			font-size: 20px;

			@include responsive-auto(font-size, (20, 13), (1439.98, 1169.98, 991.98));
			@include responsive-auto(margin-top, (20, 10), (1439.98, 1169.98, 991.98));
		}
	}

	// .rs-video__video
	&__video {
		margin-top: 50px;

		@include responsive-auto(margin-top, (50, 30), (1439.98, 1169.98, 991.98));

		.video {
			padding-bottom: 48%;
		}
	}
}
