section {
	position: relative;
}

.line {
	&-wrap {
		width: 100%;
		height: 100%;
		position: relative;

		&::before {
			content: "";
			width: 0%;
			height: 100%;
			transition: all 1s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
			display: block;
			background-color: transparent;
		}

		&::after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 1px solid transparent;
			opacity: 0;
			transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
		}
	}

	& > p {
		font-family: "Open Sans", sans-serif;
		font-style: italic;
		font-weight: 400;
		opacity: 0;
		transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
	}

	& > h4 {
		opacity: 0;
		transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
	}

	&.line-horizontal {
		.line-wrap {
			&::before {
				width: 0%;
				height: 1px;
			}
		}
	}

	&.line-vertical {
		.line-wrap {
			&::before {
				height: 0%;
				width: 1px;
			}
		}

		& > p {
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}
	}

	&.line-primary {
		.line-wrap {
			&::before {
				background-color: #d9b369;
			}
			&::after {
				border-color: #d9b369;
			}
		}

		& > p {
			color: #d9b369;
		}
	}

	&.line-second {
		.line-wrap {
			&::before {
				background-color: var(--second-color);
			}

			&::after {
				border-color: var(--second-color);
			}
		}

		& > p {
			color: var(--second-color);
		}
	}

	&.aos-animate {
		&.line-horizontal {
			.line-wrap {
				&::before {
					width: 100%;
				}
			}
		}

		&.line-vertical {
			.line-wrap {
				&::before {
					height: 100%;
				}
			}
		}

		.line-wrap {
			&::after {
				opacity: 1;
			}
		}

		& > p {
			opacity: 1;
		}

		& > h4 {
			opacity: 1;
		}
	}
}

// Text ========================================================================================================================================================
h1 {
	font-family: "Dihjauti", sans-serif;
	font-weight: 400;
	font-size: 55px;
	// line-height: 66px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #d9b369;
}

h2 {
	font-family: "Dihjauti", sans-serif;
	font-weight: 400;
	font-size: 50px;
	// line-height: 60px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include responsive-auto(font-size, (50, 24), (1439.98, 1169.98, 991.98));

	.big {
		display: block;
		font-size: 90px;
		color: #d9b369;
		padding: 10px 0px;

		@media (max-width: 991.98px) {
			padding: 5px 0px;
		}

		@include responsive-auto(font-size, (90, 30), (1439.98, 1169.98, 991.98));
	}
}

h3 {
	font-family: "Dihjauti", sans-serif;
	font-weight: 400;
	font-size: 30px;
	// line-height: 39px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include responsive-auto(font-size, (30, 20), (1439.98, 1169.98, 991.98));
}

h4 {
	font-family: "Dihjauti", sans-serif;
	font-weight: 300;
	font-size: 25px;
	// line-height: 28px;
	line-height: 110%;

	@include responsive-auto(font-size, (25, 16), (1439.98, 1169.98, 991.98));
}

h5 {
	font-family: "Dihjauti", sans-serif;
	font-weight: 400;
	font-size: 22px;
	// line-height: 26px;
	line-height: 120%;
	text-transform: uppercase;

	@include responsive-auto(font-size, (22, 20), (1439.98, 1169.98, 991.98));
}

p {
	font-weight: 300;
	font-size: 18px;
	// line-height: 27px;
	line-height: 150%;
	letter-spacing: 0.03em;

	@include responsive-auto(font-size, (18, 13), (1439.98, 1169.98, 991.98));
}

// Button ========================================================================================================================================================
.rs-btn {
	cursor: pointer;
	position: relative;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	z-index: 10;
	transition: all 0.3s ease 0s;

	padding: 15px 40px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.03em;
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: 2px;
	gap: 10px;

	@media (max-width: 1439.98px) {
		font-size: 14px;
		padding: 14px 30px;
	}

	.border {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		fill: none;
		stroke: #fff;
		stroke-dasharray: 300 1000;
		stroke-dashoffset: 300;
		transition: 1s ease-in-out;
	}

	&._btn-primary {
		color: #fff;
		border: 1px solid var(--primary-color);
		background-color: var(--primary-color);
	}

	&._btn-second {
		color: #fff;
		border: 1px solid var(--second-color);
		background-color: var(--second-color);
	}

	&._btn-primary-border {
		color: #fff;
		border: 1px solid var(--primary-color);
		background-color: transparent;
	}

	@media (any-hover: hover) {
		&:hover {
			.border {
				stroke-dashoffset: -1000;
			}
		}
	}
}

.rs-link {
	cursor: pointer;
	position: relative;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	z-index: 10;
	transition: all 0.3s ease 0s;
	padding: 5px 0px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: linear-gradient(90deg, #d9b369 calc(100% / 3), transparent 0 calc(200% / 3), #d9b369 0) var(--d, 0%)
			100% /300% 3px no-repeat;
		transition: 0.5s;
	}

	@media (any-hover: hover) {
		&:hover {
			--d: 100%;
		}
	}
}

.form {
	width: 100%;

	// .form__wrapper
	&__wrapper {
		position: relative;
	}

	// .form__block
	&__block {
	}

	&__row {
		@media (min-width: 991.98px) {
			display: flex;

			& > * {
				&:not(:last-child) {
					margin-right: 24px;
				}
			}
		}
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;

		@media (max-width: 991.98px) {
			margin-bottom: 24px;
		}
	}

	// .form__button
	&__button {
		@media (max-width: 991.98px) {
			margin-top: 20px;
		}

		.rs-btn {
			height: 100%;
			width: 100%;
			white-space: nowrap;
			border-radius: 0px;
		}
	}

	&__agreement {
		max-width: 726px;
		margin-top: 20px;
		font-weight: 400;
		font-size: 14px;
		// line-height: 20px;
		line-height: 140%;
		color: #ddd;

		@include responsive-auto(font-size, (14, 13), (1439.98, 1169.98, 991.98));

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	padding: 12px 18px;
	border: 1px solid #cba55b;
	background-color: transparent;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	// line-height: 26px;
	line-height: 160%;
	color: #ddd;

	@include responsive-auto(font-size, (16, 13), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-top, (12, 15), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-bottom, (12, 15), (1439.98, 1169.98, 991.98));

	&::placeholder {
		color: #fff;
	}

	&:focus {
		border-color: #fff;
	}
}

select.rs-input {
	color: #fff;
	
	option {
		color: #222222;
	}
}

.video {
	position: relative;

	img,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.video-tag {
	}

	.video-block {
		padding: 16px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.video-text {
		margin-left: 24px;
		max-width: 228px;

		@media (max-width: 991.98px) {
			margin-left: 8px;
		}

		p {
			font-weight: 400;
			// line-height: 22px;
			line-height: 120%;
			color: #d9b369;
		}
	}

	.video-play {
		width: 82px;
		height: 82px;
		flex-shrink: 0;
		border-radius: 50%;
		border: 1px solid #d9b369;
		display: flex;
		align-items: center;
		justify-content: center;

		@include responsive-auto(width, (82, 50), (1439.98, 1169.98, 991.98));
		@include responsive-auto(height, (82, 50), (1439.98, 1169.98, 991.98));

		svg {
			width: 23px;
			height: 28px;
			margin-right: -5px;

			@include responsive-auto(width, (23, 20), (1439.98, 1169.98, 991.98));
			@include responsive-auto(height, (28, 20), (1439.98, 1169.98, 991.98));
		}
	}

	.video-label {
		position: absolute;
		bottom: 45px;
		left: 0;
		color: #fff;
		display: flex;
		align-items: center;

		@include responsive-auto(bottom, (45, 10), (1439.98, 1169.98, 991.98));

		&::before {
			content: "";
			display: block;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 8H50' stroke='%23D9B369'/%3e%3ccircle cx='58' cy='8' r='7.5' stroke='%23D9B369'/%3e%3c/svg%3e ");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 66px;
			height: 16px;
			margin-right: 8px;
		}

		p {
			letter-spacing: 0px;
		}
	}
}
