.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 1 !important;
	border-color: #ababa7 !important;

	svg {
		path {
			fill: #ababa7 !important;
		}
	}
}

//========================================================================================================================================================
.swiper-navigation {
	display: flex;
	align-items: center;
	gap: 47px;

	@include responsive-auto(gap, (47, 16), (1439.98, 1169.98, 991.98));
}

.swiper-buttons {
	display: flex;

	& > * {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	border-radius: 50%;
	border: 1px solid var(--primary-2-color);
	width: 67px;
	height: 67px;
	margin-top: 30px;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s ease 0s;

	@include responsive-auto(width, (67, 40), (1439.98, 1169.98, 991.98));
	@include responsive-auto(height, (67, 40), (1439.98, 1169.98, 991.98));

	svg {
		width: unset;
		height: unset;

		path {
			transition: fill 0.3s ease 0s;
			fill: var(--primary-2-color);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--primary-2-color);

			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: 0px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: 0px;
}

//========================================================================================================================================================
.swiper-pagination {
	position: relative;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
	margin-top: 30px;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 1px;
	left: 0;
	background-color: #ababa7;
	top: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #0a4231;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transform-origin: left top;
}
